
<section class="content">
  <div class="row">
    <div class="sidebar">
      <div class="bg-white pt-5 h-100">
        <ul class="h-100">
          <li class="active" routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png"
              alt="home"><span>{{"home" | translate }}</span></li>
          <li routerLink="/projects"><img src="../../../../assets/images/ProjectManagement.png"
              alt="projects"><span>{{"projects" | translate }}</span></li>
          <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png"
              alt="reports"><span>{{"statistics" | translate }}</span></li>
          <li data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample"><img src="../../../../assets/images/control.png"
            alt="reports"><div class="d-flex justify-content-between flex-grow-1"><span>{{"control-panel" | translate }}</span><span class="px-2 pt-1 mb-0 h6"><i class="fa-solid fa-angle-up"></i></span></div></li>
            <div class="collapse" id="collapseExample">
              <div class="card card-body border-0">
                <ul >
                  <li><p>{{"employees-settings" | translate }}</p></li>
                  <li><p>{{"constractor-settings" | translate }}</p></li>
                  <li><p>{{"project-types-settings" | translate }}</p></li>
                  <li><p>{{"file-type-settings" | translate }}</p></li>
                  <li><p>{{"departments" | translate }}</p></li>
                  <li><p>{{"projects-process" | translate }}</p></li>
                </ul>
              </div>
            </div>
        </ul>
        <div class="list-group list-group-flush">
        </div>
      </div>
      <div class="offcanvas offcanvas-end p-0" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header border border-bottom-1">
          <h5 class="offcanvas-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0 px-2 bg-white">
          <div class="bg-white h-100">
            <ul class="h-100">
              <li class="active" routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png"
                  alt="home"><span>{{"home" | translate }}</span></li>
              <li routerLink="/projects"><img src="../../../../assets/images/ProjectManagement.png"
                  alt="projects"><span>{{"projects" | translate }}</span></li>
              <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png"
                  alt="reports"><span>{{"statistics" | translate }}</span></li>
              <li routerLink="/reports"><img src="../../../../assets/images/control.png"
                alt="reports"><div class="d-flex justify-content-between flex-grow-1"><span>{{"control-panel" | translate }}</span><span class="px-2 pt-1 mb-0 h6"><i class="fa-solid fa-angle-up"></i></span></div></li>
            </ul>
            <div class="list-group list-group-flush">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body content-body-rtl">
      <nav class="navbar">
        <app-toggler></app-toggler>
        <img src="../../../../assets/images/logo-bar.png" alt="qpmo-admin-panel" class="logo-bar">
        <div class="d-flex justify-content-center align-items-center icons">
          <app-language></app-language>
          <app-profile-icon></app-profile-icon>
        </div>
      </nav>
      <div class="container-fluid w-100 pt-3">
        <div class="row p-0">
          <div class="col-12 p-3">
            <div class="list p-3">
              <div class="row date-range">
                <form action="">
                <div class="range start">
                  <span>{{"from" | translate }}</span>
                  <input type="date" value="2022-01-01" id="start" name="range-start">
                </div>
                <div class="range end">
                  <span>{{"to" | translate }}</span>
                  <input type="date" value="2022-12-30" id="end" name="range-start">
                </div>
              </form>
              </div>
              <div class="row reports">
                <div class="col-md-6 p-3">
                  <div class="employees p-3">
                    <div class="employees-head w-100 d-flex justify-content-between align-items-center">
                      <div class="logo d-flex align-items-center">
                        <img src="../../../../assets/images/Dashboard-icons/rate.png" alt="worker">
                        <h4>{{"projects-archive-states" | translate }}</h4>
                      </div>
                    </div>
                    <!-- begin:: chart -->
                    <div id="chart" class="my-2">
                      <apx-chart
                        [series]="statechartOptions.series"
                        [chart]="statechartOptions.chart"
                        [dataLabels]="statechartOptions.dataLabels"
                        [plotOptions]="statechartOptions.plotOptions"
                        [yaxis]="statechartOptions.yaxis"
                        [xaxis]="statechartOptions.xaxis"
                        [legend]="statechartOptions.legend"
                        [colors]="statechartOptions.colors"
                        [grid]="statechartOptions.grid"
                      ></apx-chart>
                    </div>

                    <!-- end:: charts -->
                  </div>
                </div>
                <div class="col-md-6 p-3">
                  <div class="employees p-3">
                    <div class="employees-head  w-100 d-flex justify-content-between align-items-center">
                      <div class="logo d-flex align-items-center flex-grow-1">
                        <img src="../../../../assets/images/Dashboard-icons/rate.png" alt="rate">
                        <h4>{{"project-states" | translate }}</h4>
                      </div>
                    </div>
                    <div class="employees-number py-0">
                      <div class="row">
                        <div class="chart-container">
                          <apx-chart [chart]="typeChartDetails" [series]="typeChartSeries" [labels]="[' إنارة طرق ',' طرق ',' صرف صحى ',' كبارى ']" [dataLabels]="typechartDetails"></apx-chart>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6 col-md-4 col-lg p-3">
                  <div class="projects-follow-card">
                    <h4>{{"completed-projects" | translate }}</h4>
                    <div class="number p-3">
                      <h3 id="color-yellow">80</h3>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg p-3">
                  <div class="projects-follow-card">
                    <h4>{{"delayed-projects" | translate }}</h4>
                    <div class="number p-3">
                      <h3 id="color-red">25</h3>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg p-3">
                  <div class="projects-follow-card">
                    <h4>{{"projects-neering" | translate }}</h4>
                    <div class="number p-3">
                      <h3 id="color-green">70</h3>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg p-3">
                  <div class="projects-follow-card">
                    <h4>{{"current-projects" | translate }}</h4>
                    <div class="number p-3">
                      <h3 id="color-primary">122</h3>
                    </div>
                  </div>
                </div>
                <div class="col-sm-6 col-md-4 col-lg p-3">
                  <div class="projects-follow-card">
                    <h4>{{"not-financial" | translate }}</h4>
                    <div class="number p-3">
                      <h3 id="color-secondary">08</h3>
                    </div>
                  </div>
                </div>

              </div>
              <div class="row justify-content-center align-items-center">
                <div class="col-sm-8">
                  <div class="employees p-3">
                    <div class="employees-head  w-100 d-flex justify-content-between align-items-center">
                      <div class="logo d-flex align-items-center flex-grow-1">
                        <img src="../../../../assets/images/Dashboard-icons/archives.png" alt="rate">
                        <h4>{{"project-archive" | translate }}</h4>
                      </div>

                    </div>
                    <div class="employees-number py-0">
                      <div class="row">
                        <!--The content below is only a placeholder and can be replaced.-->
                        <div id="chart">
                          <apx-chart
                            [series]="archivechartOptions.series"
                            [chart]="archivechartOptions.chart"
                            [xaxis]="archivechartOptions.xaxis"
                            [stroke]="archivechartOptions.stroke"
                            [tooltip]="archivechartOptions.tooltip"
                            [dataLabels]="archivechartOptions.dataLabels"
                          ></apx-chart>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
