<section class="content">
  <div class="row">
    <div class="sidebar">
      <div class="bg-white h-100">
        <ul class="h-100">
          <li routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png"
              alt="home"><span>{{"home" | translate }}</span></li>
          <li  class="active" routerLink="/projects"><img src="../../../../assets/images/ProjectManagement.png"
              alt="projects"><span>{{"projects" | translate }}</span></li>
          <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png"
              alt="reports"><span>{{"statistics" | translate }}</span></li>
              <li data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="mb-0 pb-0"><img src="../../../../assets/images/control.png"
                alt="reports"><div class="d-flex justify-content-between flex-grow-1"><span>{{"control-panel" | translate }}</span><span class="px-2 pt-1 mb-0 h6"><i class="fa-solid fa-angle-up"></i></span></div></li>
                <div class="collapse  " id="collapseExample">
                  <div class="card card-body border-0 py-0 ">
                    <ul class="py-1 sub-list">
                      <li routerLink="/employees-settings"><p>{{"employees-settings" | translate }}</p></li>
                      <li routerLink="/constructors-settings"><p>{{"constractor-settings" | translate }}</p></li>
                      <li routerLink="/project-types-settings"><p>{{"project-types-settings" | translate }}</p></li>
                      <li routerLink="/file-type-settings"><p>{{"file-type-settings" | translate }}</p></li>
                      <li routerLink="/departments"><p>{{"departments" | translate }}</p></li>
                      <li routerLink="/projects-processes"><p>{{"projects-process" | translate }}</p></li>
                    </ul>
                  </div>
                </div>
        </ul>
        <div class="list-group list-group-flush">
        </div>
      </div>
      <div class="offcanvas offcanvas-end p-0" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header border border-bottom-1">
          <h5 class="offcanvas-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0 px-2 bg-white">
          <div class="bg-white h-100">
            <ul class="h-100">
              <li  routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png"
                  alt="home"><span>{{"home" | translate }}</span></li>
              <li class="active" routerLink="/projects"><img src="../../../../assets/images/ProjectManagement.png"
                  alt="projects"><span>{{"projects" | translate }}</span></li>
              <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png"
                  alt="reports"><span>{{"statistics" | translate }}</span></li>
                  <li data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="mb-0 pb-0"><img src="../../../../assets/images/control.png"
                    alt="reports"><div class="d-flex justify-content-between flex-grow-1"><span>{{"control-panel" | translate }}</span><span class="px-2 pt-1 mb-0 h6"><i class="fa-solid fa-angle-up"></i></span></div></li>
                    <div class="collapse " id="collapseExample">
                      <div class="card card-body border-0 py-0 ">
                        <ul class="py-1 sub-list">
                          <li routerLink="/employees-settings"><p>{{"employees-settings" | translate }}</p></li>
                          <li routerLink="/constructors-settings"><p>{{"constractor-settings" | translate }}</p></li>
                          <li routerLink="/project-types-settings"><p>{{"project-types-settings" | translate }}</p></li>
                          <li routerLink="/file-type-settings"><p>{{"file-type-settings" | translate }}</p></li>
                          <li routerLink="/departments"><p>{{"departments" | translate }}</p></li>
                          <li routerLink="/projects-processes"><p>{{"projects-process" | translate }}</p></li>
                        </ul>
                      </div>
                    </div>
            </ul>
            <div class="list-group list-group-flush">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body content-body-rtl">
      <nav class="navbar">
        <app-toggler></app-toggler>
        <img src="../../../../assets/images/logo-bar.png" alt="qpmo-admin-panel" class="logo-bar">
        <div class="d-flex justify-content-center align-items-center icons">
          <app-language></app-language>
          <app-profile-icon></app-profile-icon>
        </div>
      </nav>
      <div class="container-fluid w-100 pt-3">
        <div class="row">
          <div class="col-sm-10 text-center p-2 px-3 w-100">
            <div class="search ">
              <span><i class="fa-solid fa-magnifying-glass"></i></span>
              <input type="search" [placeholder]="'search' | translate" class="p-2">
            </div>
          </div>
        </div>
        <div class="row row-list ">
          <div class="col-12">
            <div class="add-btn">
                <button type="button" class="add-project-btn" data-bs-toggle="modal" data-bs-target="#exampleModal">{{"add-project-msg" | translate}} <span><i class="fa-solid fa-plus"></i></span></button>

              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
              <div class="modal-dialog p-2">
                <div class="modal-content">
                  <div class="modal-header d-flex justify-content-between w-100">
                    <div class="d-flex">
                      <p>{{"projects" | translate }}</p>
                      <div class="dots">
                        <div class="dot"></div>
                        <div class="dot"></div>
                        <div class="dot"></div>
                      </div>
                      <p><strong>{{"add-project-msg" | translate}}</strong></p>
                    </div>
                    <div>
                      <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i class="fa-solid fa-xmark"></i></button>
                    </div>
                  </div>

                  <div class="modal-body">
                    <div class="progress-bar">
                      <div class="step active">1</div>
                      <div class="step">2</div>
                      <div class="step">3</div>
                      <div class="step">4</div>
                    </div>

                      <div class="form-outer">
                        <form >

                          <div class="page slidePage">
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>اسم المشروع</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="text" placeholder="مشروع السلامة" autofocu="on">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>نوع المشروع</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option value="1" selected>انارة طرق</option>
                                    <option value="2">كبارى</option>
                                    <option value="3">صرف صحى</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>الموقع</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="text" placeholder="عنيزة - القصيم">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>عدد العمالة</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="number" placeholder="205" autofocu="on">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>تاريخ التعميد</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="date">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>تاريخ الانتهاء</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="date">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>حالة المشروع</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                                    <option value="1" selected>المشاريع الحالية</option>
                                    <option value="2">المشاريع المكتملة</option>
                                    <option value="3">المشاريع الغير مكتملة</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>نسبة إنجاز الجهة</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="range"  id="temp" name="temp" list="tickmarks" value="50"
                                  />
                                  <datalist id="tickmarks">
                                    <option value="0" label="100%"></option>
                                    <option value="25" label="75%"></option>
                                    <option value="50" label="50%"></option>
                                    <option value="75" label="25%"></option>
                                    <option value="100" label="0%"></option>
                                  </datalist>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>نسبة إنجاز المقاول</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="range" id="temp" name="temp" list="tickmarks" value="25"
                                  />
                                  <datalist id="tickmarks">
                                    <option value="0" label="100%"></option>
                                    <option value="25" label="75%"></option>
                                    <option value="50" label="50%"></option>
                                    <option value="75" label="25%"></option>
                                    <option value="100" label="0%"></option>
                                  </datalist>
                                </div>
                              </div>
                            </div>
                            <div class="row justify-content-end">
                              <button class="btn nextBtn stepBtn" type="button">Next</button>
                            </div>
                          </div>

                          <div class="page">
                            <div class="field">
                              <h3>page 2</h3>
                            </div>
                            <div class="field">
                              <input type="text" class="form-control" placeholder="type your name">
                            </div>
                            <div class="field">
                              <input type="text" class="form-control" placeholder="type your name">
                            </div>
                            <div class="field">
                              <input type="text" class="form-control" placeholder="type your name">
                            </div>

                            <div class="field btns">
                              <button class="btn btn-primary prev prev-1 " type="button">Previous</button>
                              <button class="btn btn-danger next next-1 " type="button">Next</button>
                            </div>
                          </div>

                          <div class="page">
                            <div class="field">
                              <h3>page 3</h3>
                            </div>
                            <div class="field">
                              <input type="text" class="form-control" placeholder="type your name">
                            </div>
                            <div class="field">
                              <input type="text" class="form-control" placeholder="type your name">
                            </div>
                            <div class="field">
                              <input type="text" class="form-control" placeholder="type your name">
                            </div>
                            <div class="field btns">
                              <button class="btn btn-primary prev prev-2 " type="button">Previous</button>
                              <button class="btn btn-danger next next-2 " type="button">Next</button>
                            </div>
                          </div>

                          <div class="page">
                            <div class="field">
                              <h3>page 4</h3>
                            </div>
                            <div class="field">
                              <input type="text" class="form-control" placeholder="type your name">
                            </div>
                            <div class="field">
                              <input type="text" class="form-control" placeholder="type your name">
                            </div>
                            <div class="field">
                              <input type="text" class="form-control" placeholder="type your name">
                            </div>
                            <div class="field btns">
                              <button class="btn btn-primary prev prev-3 " type="button">Previous</button>
                              <button class="btn btn-danger" type="submit">Submit</button>
                            </div>
                          </div>
                        </form>
                      </div>
                  </div>

                </div>
              </div>
              </div>

            </div>
          </div>
          <div class="col-12 p-3">
            <div class="list table-responsive">
              <table class="table" >
                <thead>
                  <tr>
                    <th scope="col">{{"project-name" | translate }}</th>
                    <th scope="col">{{"project-type" | translate }}</th>
                    <th scope="col">{{"contractors-name" | translate }}</th>
                    <th scope="col">{{"expire-date" | translate }}</th>
                    <th scope="col">{{"project-state" | translate }}</th>
                  </tr>
                </thead>
                <tbody >

                  <tr>
                    <td><div class="border-line"></div><div class="item"><p>{{"proj1" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"road-light" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"Abdullah Ibrahim" | translate }}</p></div></td>
                    <td><div class="item"><p>13-08-2022</p></div></td>
                    <td><div class="item"><p>{{"lorem" | translate }}</p></div></td>
                  </tr>
                  <tr>
                    <td><div class="border-line"></div><div class="item"><p>{{"proj2" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"road" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"Mohamed Abdelrahman" | translate }}</p></div></td>
                    <td><div class="item"><p>13-08-2022</p></div></td>
                    <td><div class="item"><p>{{"lorem" | translate }}</p></div></td>
                  </tr>
                  <tr>
                    <td><div class="border-line"></div><div class="item"><p>{{"proj3" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"sanitaion" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"Yahia Abdullah" | translate }}</p></div></td>
                    <td><div class="item"><p>13-08-2022</p></div></td>
                    <td><div class="item"><p>{{"lorem" | translate }}</p></div></td>
                  </tr>
                  <tr>
                    <td><div class="border-line"></div><div class="item"><p>{{"proj4" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"road" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"Islam Hassan" | translate }}</p></div></td>
                    <td><div class="item"><p>13-08-2022</p></div></td>
                    <td><div class="item"><p>{{"lorem" | translate }}</p></div></td>
                  </tr>
                  <tr>
                    <td><div class="border-line"></div><div class="item"><p>{{"proj5" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"bridges" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"Zayn Mostafa" | translate }}</p></div></td>
                    <td><div class="item"><p>13-08-2022</p></div></td>
                    <td><div class="item"><p>{{"lorem" | translate }}</p></div></td>
                  </tr>
                  <tr>
                    <td><div class="border-line"></div><div class="item"><p>{{"proj1" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"road-light" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"Tarek Ali" | translate }}</p></div></td>
                    <td><div class="item"><p>13-08-2022</p></div></td>
                    <td><div class="item"><p>{{"lorem" | translate }}</p></div></td>
                  </tr>
                  <tr>
                    <td><div class="border-line"></div><div class="item"><p>{{"proj2" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"bridges" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"Hamza Sayed" | translate }}</p></div></td>
                    <td><div class="item"><p>13-08-2022</p></div></td>
                    <td><div class="item"><p>{{"lorem" | translate }}</p></div></td>
                  </tr>
                  <tr>
                    <td><div class="border-line"></div><div class="item"><p>{{"proj3" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"sanitaion" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"Zeyad Ahmed" | translate }}</p></div></td>
                    <td><div class="item"><p>13-08-2022</p></div></td>
                    <td><div class="item"><p>{{"lorem" | translate }}</p></div></td>
                  </tr>
                  <tr>
                    <td><div class="border-line"></div><div class="item"><p>{{"proj4" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"bridges" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"Gamal Elsayed" | translate }}</p></div></td>
                    <td><div class="item"><p>13-08-2022</p></div></td>
                    <td><div class="item"><p>{{"lorem" | translate }}</p></div></td>
                  </tr>
                  <tr>
                    <td><div class="border-line"></div><div class="item"><p>{{"proj5" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"sanitaion" | translate }}</p></div></td>
                    <td><div class="item"><p>{{"Hamza Sayed" | translate }}</p></div></td>
                    <td><div class="item"><p>13-08-2022</p></div></td>
                    <td><div class="item"><p>{{"lorem" | translate }}</p></div></td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example" class="nav-pag">
                <ul class="pagination justify-content-center">
                  <li class="page-item " (click)="getPrviousPage()">
                    <a class="page-link" [class.disable]="currentPage==1"><i class="fa-solid fa-angle-left"></i></a>
                  </li>
                  <!-- <li class="page-item"><a class="page-link">...</a></li> -->
                  <li class="page-item" (click)="changePage($event)"><a class="page-link" [class.page]="currentPage==1">1</a></li>
                  <li class="page-item" (click)="changePage($event)"><a [class.page]="currentPage==2" class="page-link">2</a></li>
                  <li class="page-item" (click)="changePage($event)"><a class="page-link" [class.page]="currentPage==3">3</a></li>
                  <li class="page-item"><a class="page-link">...</a></li>
                  <li *ngIf="currentPage>3" class="page-item"><a class="page-link" [class.page]="currentPage>3">{{currentPage}}</a>
                  </li>
                  <li class="page-item" (click)="getNextPage()">
                    <a class="page-link"><i class="fa-solid fa-angle-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
