<section class="content">
  <div class="row">
    <div class="sidebar">
      <div class="bg-white h-100">
        <ul class="h-100">
          <li routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png"
              alt="home"><span>{{"home" | translate }}</span></li>
          <li routerLink="/projects"><img src="../../../../assets/images/ProjectManagement.png"
              alt="projects"><span>{{"projects" | translate }}</span></li>
          <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png"
              alt="reports"><span>{{"statistics" | translate }}</span></li>
              <li data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="mb-0 pb-0"><img src="../../../../assets/images/control.png"
                alt="reports"><div class="d-flex justify-content-between flex-grow-1"><span>{{"control-panel" | translate }}</span><span class="px-2 pt-1 mb-0 h6"><i class="fa-solid fa-angle-up"></i></span></div></li>
                <div class="collapse show sub-list" id="collapseExample">
                  <div class="card card-body border-0 py-0 ">
                    <ul class="py-1">
                      <li class="active" routerLink="/employees-settings"><p>{{"employees-settings" | translate }}</p></li>
                      <li routerLink="/constructors-settings"><p>{{"constractor-settings" | translate }}</p></li>
                      <li routerLink="/project-types-settings"><p>{{"project-types-settings" | translate }}</p></li>
                      <li routerLink="/file-type-settings"><p>{{"file-type-settings" | translate }}</p></li>
                      <li routerLink="/departments"><p>{{"departments" | translate }}</p></li>
                      <li routerLink="/projects-processes"><p>{{"projects-process" | translate }}</p></li>
                    </ul>
                  </div>
                </div>
        </ul>
        <div class="list-group list-group-flush">
        </div>
      </div>
      <div class="offcanvas offcanvas-end p-0" tabindex="-1" id="offcanvasExample"
        aria-labelledby="offcanvasExampleLabel">
        <div class="offcanvas-header border border-bottom-1">
          <h5 class="offcanvas-title"></h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body p-0 px-2 bg-white">
          <div class="bg-white h-100">
            <ul class="h-100">
              <li routerLink="/home"><img src="../../../../assets/images/Dashboard-icons/home.png"
                  alt="home"><span>{{"home" | translate }}</span></li>
              <li routerLink="/projects"><img src="../../../../assets/images/ProjectManagement.png"
                  alt="projects"><span>{{"projects" | translate }}</span></li>
              <li routerLink="/reports"><img src="../../../../assets/images/Dashboard-icons/report.png"
                  alt="reports"><span>{{"statistics" | translate }}</span></li>
                  <li data-bs-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample" class="mb-0 pb-0"><img src="../../../../assets/images/control.png"
                    alt="reports"><div class="d-flex justify-content-between flex-grow-1"><span>{{"control-panel" | translate }}</span><span class="px-2 pt-1 mb-0 h6"><i class="fa-solid fa-angle-up"></i></span></div></li>
                    <div class="collapse show sub-list" id="collapseExample">
                      <div class="card card-body border-0 py-0 ">
                        <ul class="py-1">
                          <li class="active" routerLink="/employees-settings"><p>{{"employees-settings" | translate }}</p></li>
                          <li routerLink="/constructors-settings"><p>{{"constractor-settings" | translate }}</p></li>
                          <li routerLink="/project-types-settings"><p>{{"project-types-settings" | translate }}</p></li>
                          <li routerLink="/file-type-settings"><p>{{"file-type-settings" | translate }}</p></li>
                          <li routerLink="/departments"><p>{{"departments" | translate }}</p></li>
                          <li routerLink="/projects-processes"><p>{{"projects-process" | translate }}</p></li>
                        </ul>
                      </div>
                    </div>
            </ul>
            <div class="list-group list-group-flush">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="content-body">
      <nav class="navbar">
        <app-toggler></app-toggler>
        <img src="../../../../assets/images/logo-bar.png" alt="qpmo-admin-panel" class="logo-bar">
        <div class="d-flex justify-content-center align-items-center icons">
          <app-language></app-language>
          <app-profile-icon></app-profile-icon>
        </div>
      </nav>
      <div class="container-fluid w-100 pt-3">
        <div class="row row-list ">
          <div class="col-12">
            <div class="add-btn">
              <button type="button" class="add-project-btn" data-bs-toggle="modal"
                data-bs-target="#exampleModal">{{"add-project-msg" | translate}} <span><i
                    class="fa-solid fa-plus"></i></span></button>
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                aria-hidden="true">
                <div class="modal-dialog p-2">
                  <div class="modal-content">
                    <div class="modal-header d-flex justify-content-between w-100">
                      <div class="d-flex">
                        <p>{{"employees-settings" | translate }}</p>
                        <div class="dots">
                          <div class="dot"></div>
                          <div class="dot"></div>
                          <div class="dot"></div>
                        </div>
                        <p><strong>{{"add-new-employee" | translate}}</strong></p>
                      </div>
                      <div>
                        <button type="button" class="close-btn" data-bs-dismiss="modal" aria-label="Close"><i
                            class="fa-solid fa-xmark"></i></button>
                      </div>
                    </div>
                    <div class="modal-body">
                      <div class="form-outer">
                        <form>
                          <div class="page slidePage page1">
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>{{"employee-name" | translate}}</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="text" placeholder="{{'Yahia Abdullah' | translate}}" autofocu="on">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>{{"job-title" | translate}}</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="text" placeholder="{{'Lorem-ipsum-dolor-sit-amet' | translate}}">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>{{"admin-section" | translate}}</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                    id="bg-select">
                                    <option value="1" selected>{{"road-light" | translate}}</option>
                                    <option value="2">{{"bridges" | translate}}</option>
                                    <option value="3">{{"sanitaion" | translate}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>{{"phone-no" | translate}}</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="text" placeholder="{{'testing-number' | translate}}">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>{{"password" | translate}}</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="password" placeholder="....................">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>{{"retype-password" | translate}}</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="password" placeholder="...................">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>{{"mail" | translate}}</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="email" placeholder="XXXXXXX@gmail.com">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>{{"starting-date" | translate}}</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="date">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>{{"expire-date" | translate}}</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <input type="date">
                                </div>
                              </div>
                            </div>
                            <div class="row">
                              <div class="col-4 p-1">
                                <div class="bg">
                                  <p><strong>{{"project-state" | translate}}</strong></p>
                                </div>
                              </div>
                              <div class="col-8 p-1">
                                <div class="bg">
                                  <select class="form-select form-select-sm" aria-label=".form-select-sm example"
                                    id="bg-select">
                                    <option value="1" selected>{{"current-projects" | translate}}</option>
                                    <option value="2">{{"completed-projects" | translate}}</option>
                                    <option value="3">{{"not-completed-projects" | translate}}</option>
                                  </select>
                                </div>
                              </div>
                            </div>
                            <div class="row justify-content-end">
                              <button class="btn stepBtn" type="button">{{"submit" | translate}}</button>
                            </div>
                          </div>
                        </form>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 p-3">
            <div class="list table-responsive">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">{{"employee-name" | translate }}</th>
                    <th scope="col">{{"job-title" | translate }}</th>
                    <th scope="col">{{"follow-up-category" | translate }}</th>
                    <th scope="col">{{"projects-number" | translate }}</th>
                    <th scope="col">{{"state" | translate }}</th>
                    <th scope="col">{{"edit" | translate }}</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>
                      <div class="item">
                        <p>{{"Abdullah Ibrahim" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Excepteur-sint" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"road-light" | translate }}</p>
                      </div>
                    </td>

                    <td>
                      <div class="item">
                        <p>05</p>
                      </div>
                    </td>
                    <td>
                      <div class="item form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                          role="switch" id="flexSwitchCheckDefault" checked>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <img src="../../../../assets/images/edit.png" class="hover" alt="edit">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>{{"Mohamed Abdelrahman" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Excepteur-sint" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"road" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>05</p>
                      </div>
                    </td>
                    <td>
                      <div class="item form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                          role="switch" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <img src="../../../../assets/images/edit.png" class="hover" alt="edit">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>{{"Yahia Abdullah" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Excepteur-sint" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"sanitaion" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>05</p>
                      </div>
                    </td>
                    <td>
                      <div class="item form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                          role="switch" id="flexSwitchCheckDefault" >
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <img src="../../../../assets/images/edit.png" class="hover" alt="edit">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>{{"Islam Hassan" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Excepteur-sint" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"road" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>05</p>
                      </div>
                    </td>
                    <td>
                      <div class="item form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                          role="switch" id="flexSwitchCheckDefault" checked>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <img src="../../../../assets/images/edit.png" class="hover" alt="edit">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>{{"Zayn Mostafa" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Excepteur-sint" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"bridges" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>05</p>
                      </div>
                    </td>
                    <td>
                      <div class="item form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                          role="switch" id="flexSwitchCheckDefault" checked>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <img src="../../../../assets/images/edit.png" class="hover" alt="edit">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>{{"Tarek Ali" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Excepteur-sint" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"road-light" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>05</p>
                      </div>
                    </td>
                    <td>
                      <div class="item form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                          role="switch" id="flexSwitchCheckDefault" >
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <img src="../../../../assets/images/edit.png" class="hover" alt="edit">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>{{"Hamza Sayed" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Excepteur-sint" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"bridges" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>05</p>
                      </div>
                    </td>
                    <td>
                      <div class="item form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                          role="switch" id="flexSwitchCheckDefault">
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <img src="../../../../assets/images/edit.png" class="hover" alt="edit">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>{{"Zeyad Ahmed" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Excepteur-sint" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"sanitaion" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>05</p>
                      </div>
                    </td>
                    <td>
                      <div class="item form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                          role="switch" id="flexSwitchCheckDefault" checked>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <img src="../../../../assets/images/edit.png" class="hover" alt="edit">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>{{"Gamal Elsayed" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Excepteur-sint" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"bridges" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>05</p>
                      </div>
                    </td>
                    <td>
                      <div class="item form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                          role="switch" id="flexSwitchCheckDefault" checked>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <img src="../../../../assets/images/edit.png" class="hover" alt="edit">
                      </div>
                    </td>
                  </tr>
                  <tr>
                    <td>
                      <div class="item">
                        <p>{{"Hamza Sayed" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"Excepteur-sint" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>{{"sanitaion" | translate }}</p>
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <p>05</p>
                      </div>
                    </td>
                    <td>
                      <div class="item form-check form-switch">
                        <input class="form-check-input" type="checkbox"
                          role="switch" id="flexSwitchCheckDefault" >
                      </div>
                    </td>
                    <td>
                      <div class="item">
                        <img src="../../../../assets/images/edit.png" class="hover" alt="edit">
                      </div>
                    </td>
                  </tr>
                </tbody>
              </table>
              <nav aria-label="Page navigation example" class="nav-pag">
                <ul class="pagination justify-content-center">
                  <li class="page-item " (click)="getPrviousPage()">
                    <a class="page-link" [class.disable]="currentPage==1"><i class="fa-solid fa-angle-left"></i></a>
                  </li>
                  <!-- <li class="page-item"><a class="page-link">...</a></li> -->
                  <li class="page-item" (click)="changePage($event)"><a class="page-link"
                      [class.page]="currentPage==1">1</a></li>
                  <li class="page-item" (click)="changePage($event)"><a [class.page]="currentPage==2"
                      class="page-link">2</a></li>
                  <li class="page-item" (click)="changePage($event)"><a class="page-link"
                      [class.page]="currentPage==3">3</a></li>
                  <li class="page-item"><a class="page-link">...</a></li>
                  <li *ngIf="currentPage>3" class="page-item"><a class="page-link"
                      [class.page]="currentPage>3">{{currentPage}}</a>
                  </li>
                  <li class="page-item" (click)="getNextPage()">
                    <a class="page-link"><i class="fa-solid fa-angle-right"></i></a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
